:root{
    --branco-principal:#ffffff;
    --botao-rosa: #df1f6c;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inria Serif';

    }

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400px;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botao{
    background-color:var(--botao-rosa);
    border-radius: 5px;
    padding:1em;
    color:var(--branco-principal);
    display: block;
    text-decoration: none;
    
}
.containe_aviso{
    font-size: 20;
    color: var(--branco-principal);
}
.container_titulo{
font-size: 28px;
font-weight: 700;
}
.container_imagem{
    margin: 1em 0em 0;
}
.container_caixa{
    margin: 0em 10em;
}
.secundaria-imagem{
width: 80%;
}
.secundaria{
    align-items: center;
    margin: 0 10em;
}
.descricao-titulo{
font-weight: 700;
font-size: 48px;
margin-bottom: 0. 2em;
}